
        config FIH_SW3_BATTERY
            bool "FIH battery driver"
            default y
            help
                Enable FIH battery driver

        config FIH_SW3_BQ275X0_ROMMODE
            bool "Enable BQ275x0 programming driver"
            depends on FIH_SW3_BATTERY
            default n
            help
                  Enable bq275x0 programming driver.

